.container{
  position: absolute;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: space-between;
}

.container > img{
  max-width: 150px;
  cursor: pointer;
}

.container > button{
  transition: .4s;
  cursor: pointer;
  min-width: 170px;
  min-height: 50px;
  border: none;
  background: white;
  border-radius: 50px;
  font-size: .9rem;
  font-weight: bold;
}

.container > button:hover{
  color: gray;
}

@media (max-width:768px) {
  .container{
    padding: 0 20px;
  }
  .container > img{
    max-width: 100px;
  }

  .container > button{
  min-height: 40px;
  font-size: .8rem;
  }
}